@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Sixtyfour+Convergence&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

:root {
    --cabe: rgb(139, 33, 238);
    --fundo: rgb(14, 0, 25);
}

body {
    color: white;
    background-color: var(--fundo);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 2.6rem;
}

h2 {
    font-size: 2.2rem;
    text-transform: uppercase;

}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: white;
}


.barra-fim {
    width: 90%;
    height: 0.5rem;
    background: linear-gradient(90deg, var(--cabe), aqua, var(--cabe));
    margin: 0 auto;
    border-radius: 50%;
}

.cabe {
    background-color: var(--cabe);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}.cabe img {
    width: 6rem;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    top: 2.8rem;
    right: 5rem;
    margin: 2rem;
}.videos i {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}.videos i:hover {
    transform: scale(1.25);
}

.apresentaçao {
    display: grid;
    grid-template-columns: repeat(2,auto);  
    align-items: top; 
    gap: 3rem;
    padding-right: 8rem;
    padding-left: 6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}.apresentaçao img {
    width: 15rem;
    height: 20rem;
    border-radius: 1.4rem;
    object-fit: cover;
    object-position: top right;
    border: 0.2rem solid var(--cabe);
}.texto-apresentaçao {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}.texto-apresentaçao h1 {
    letter-spacing: 0.4rem;
    font-family: 'Lilita One', 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--cabe);
}
.destaque {
    color: var(--cabe);
}
.texto-dia {
    max-width: 70%;
    padding-left: 6rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
}
.texto-dia h2 {
    letter-spacing: 0.4rem;
    color: var(--cabe);
    font-family: 'Lilita One', 'Open Sans', Arial, Helvetica, sans-serif;      
}.texto-dia h3 {
    margin-bottom: 2rem;
}
.resposta {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 3rem;
}

.res {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.2rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--cabe);
    font-size: 1.3rem;
    transition: 2s;
}.res:hover {
    border: 0.3rem solid aqua;
}

.res-cliente {
    color:  aqua;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

.anunciopro {
    text-transform: uppercase;
    display: flex;
    padding: 1rem;
    margin-top: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;
    border: 0.3rem solid var(--cabe);
    cursor: pointer;
    transition: 2s;
}.anunciopro:hover {
    border: 0.3rem solid aqua;
}
.anunciopro h3 {
    margin: auto;
}








.roda {
    background-color: var(--cabe);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
}

/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 1.8vw;
    }
    .videos i:hover {
        transform: scale(1);
    }

    .apresentaçao {
        display: grid;
        grid-template-columns: repeat(2,auto);  
        align-items: top; 
        gap: 3rem;
        padding-right: 4rem;
        padding-left: 6rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .texto-dia {
        max-width: 85%;
    }
}



@media (max-width: 767px) {
    html {
        font-size: 2.7vw;
    }
    .videos i:hover {
        transform: scale(1);
    }
    .apresentaçao {
        display: grid;
        grid-template-columns: auto;  
        justify-content: center;
        place-items: center;
    }.apresentaçao img {
        width: 30rem;
        height: 20rem;
    }.texto-apresentaçao {
        text-align: center;
    }
    .texto-dia {
        max-width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 3rem;
    }
} 





