<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <title>Template 1</title>
    <link rel="icon" type="image/png" href="pasini.png">
    <link rel="icon" type="image/x-icon" href="pasini.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="../cola.html" rel="noopener noreferrer" class="voltar">voltar</a>
    <div class="perfil">
        <div class="imagem">
            <img src="QuinhoGuedez.jpeg">
        </div>
        <h1>Quinho Guedez</h1>
        <!-- Redes sociais -->
        <div class="videos">
            <i class="fab fa-tiktok"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-telegram"></i>
        </div>
    </div>
    <div class="frase">
        Como um passaro no céu, eu também quero ser livre!
    </div>
    <h2 class="titulo-link">Minhas páginas</h2>
    <a href="../index.html" class="link"  rel="noopener noreferrer">
        Veja o meu blog na internet
    </a>
    <a href="../metas.html" class="link"  rel="noopener noreferrer">
        Veja as minhas metas
    </a>
    <div style="flex: 1;"></div>
    <h3 class="copy">Copyright - Marcos Antonio 2025. Todos os direitos reservados</h3>
    <!-- Marcadores de marca -->
    <div class="folha local1">
        <div class="lado l1"><img src="pasini.png"></div>
        <div class="lado l2"><img src="pasini.png"></div>
    </div>
    <div class="folha local2">
        <div class="lado l1"><img src="pasini.png"></div>
        <div class="lado l2"><img src="pasini.png"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>